# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Uploads
uploads/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Logs
*.log